.container {
     margin-top: 40px;
     padding: 20px;
     background: ##ddff99;
     width: 525px;

}
  .p tagline {
    color: #334d00;
    font-family: 'Anton', sans-serif;
      }
      body {
       background-image: url('http://gdurl.com/RIwv');
           height: 100%;
     }
h1 {
  color: #334d00;
  font-family: 'Anton', sans-serif;
  margin: 10px;

  }


  div {
    background-color: #ddff99;
  }
